/* Custom styles */
body {
    font-family: 'Lilita One', cursive;
}

.platform-btn.selected {
    border-color: #eab308;
    /* yellow-500 */
    background-color: rgba(234, 179, 8, 0.1);
}

.platform-btn.selected span {
    color: #facc15;
    /* yellow-400 */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

/* Stars Animation */
.stars,
.stars2,
.stars3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent url('../../s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat top center;
    z-index: -1;
}

.stars {
    z-index: 0;
    background-size: 1000px 1000px;
    animation: move-stars 50s linear infinite;
}

.stars2 {
    z-index: 1;
    background-size: 1500px 1500px;
    animation: move-stars 100s linear infinite;
}

.stars3 {
    z-index: 2;
    background-size: 2000px 2000px;
    animation: move-stars 150s linear infinite;
}

@keyframes move-stars {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

/* Custom Bounce for Generator Item */
@keyframes bounce-custom {

    0%,
    100% {
        transform: translateY(-5%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(5%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-bounce-custom {
    animation: bounce-custom 2s infinite;
}

/* Text Stroke Utility */
.stroke-black {
    -webkit-text-stroke: 1.5px black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}